/* Black #191716*/
/* white #eBe2db*/
/* yellow #e6af2e*/
/* gray #beb7a4*/
/* light yellow #ffffb3*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: #ffffb3;
}


body {
    font-family: 'Roboto', sans-serif;

}

/*nav*/

nav ul {
    list-style-type: none;
    border-top: 6px solid #e6af2e;
    background-color: #191716;
}

nav ul li a {
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 20px;
    padding: 10px 20px;
    color: #e6af2e;
}

nav ul li a:hover {
    color: #eBe2db;
}



.nav-logo, .logo {
    font-size: 40px;
    text-transform: uppercase;
    background: #e6af2e;
    color: #191716;
    font-style: italic;
}

.logo:hover {
    background-color: #eBe2db;
    color: #e6af2e;
}

.nav-menu {
    display: flex;
}
.nav-menu li{
    display: none;
}

/*toggle display none*/

.nav-toggle li{
    display: inline-block;
}

.displayToggle {
    display: block;
}

.nav-toggle li:hover{
    background-color: #e6af2e;
}

.nav-logo img {
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
}


@media screen and (min-width:576px) {
    nav ul {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-between;
    }

    nav ul li {
        flex: 1 0 auto;
        text-align: center;
    }
    .logo {
        display: block;
        text-align: center;
    }
    .logo img{
        display: none;
    }
    .nav-logo{
        width: 40%
    }
    .nav-menu li{
        display: block;
    }
    .nav-toggle li{
        display: none;
    }
    .toggle {
        display: none;
    }
    .logo img {
        display: none;
    }
}

/*#######################################################################*/

#banners {
    min-height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: url("/images/background.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-text {
    font-size: 50px;
    text-transform: uppercase;
    color: #eBe2db;
    font-style: italic;
    text-align: center;
}

.banner-underline {
    width: 200px;
    border: 3px solid #191716;
    margin: 10px auto 20px auto;
}

.banner-btn {
    display: flex;
    text-align: center;
}

.banner-btn button {
    font-size: 30px;
    padding: 15px;
    text-transform: uppercase;
    margin: 0 150px;
    background: transparent;
    color: #e6af2e;
    border: 2px solid #e6af2e;
}

.banner-btn button:hover {
    color: #eBe2db;
    background: #e6af2e;
}

/*#######################skills- section*######################*/


#howitworks {
    padding: 60px 0;
    background-color: #beb7a4;
}

.howitworks-container {
    max-width: 95vw;
    margin: 0 auto;
}

.howitworks-item {
    text-align: center;
    margin: 0 auto;
}

.howitworks-item .fa {
    font-size: 60px;
    color: #191716;
}

.howitworks-item h1 {
    font-size: 30px;
    letter-spacing: 2px;
    margin: 30px 0;
    color: #e6af2e;
    text-transform: uppercase;
}

.howitworks-item p {
    width: 75%;
    margin: 0 auto;
    color: #eBe2db;
}

@media screen and (min-width:576px) {
    .howitworks-container {
        display: grid;
        grid-template-columns: 1fe 1fr;
        grid-column-gap: 1em;
    }
}

@media screen and (min-width:992px) {
    .howitworks-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 5px;
    }
}

/*title*/

.title {
    margin: 40px
}

.title-text {
    text-align: center;
    font-size: 40px;
    color: #eBe2db;
    font-style: italic;
    text-transform: uppercase;
}

.title-underline {
    width: 200px;
    border: 3px solid #e6af2e;
    margin: 0 auto;
}

.meetuptitle {
    margin: 40px;
    background-color: transparent;


}

.meetuptitle-text {
    text-align: center;
    font-size: 20px;
    color: #eBe2db;
    font-style: italic;
    text-transform: uppercase;
}

/*Explore*/

#Explore {
    min-height: 100vh;
    background-image: url(/images/bg1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0 80px 0;
}

.Explore-container {
    max-width: 90vw;
    margin: 0 auto;
    color: #eBe2db;
}

.Explore-item {
    overflow: hidden;
    position: relative;
    padding: 60px;
}

.Explore-item .fa {
    font-size: 60px;
    margin-bottom: 30px;
    color: #e6af2e;
}

.Explore-item-black {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.Explore-item-white {
    background: linear-gradient(rgba(206, 208, 206, 0.6), rgba(206, 208, 206, 0.6));
    color: #191716;
}

.front-text {
    text-align: center;
    transition: transform 2s;
}

.back-text {
    position: absolute;
    bottom: -15em;
    width: 75%;
    margin: 0 auto;
    height: 100%;
    transition: bottom 2s;
    padding: 30px;
}

.back-text h1 {
    margin-bottom: 20px;
}

.back-text button {
    margin-top: 20px;
    padding: 10px 20px;
    background: transparent;
    border: 2px solid #e6af2e;
    font-size: 20px;
    color: #e6af2e;
}

.back-text button:hover {
    background-color: #e6af2e;
    color: #191716;
}

.Explore-item-white button {
    background: #e6af2e;
    color: #191716;
}

.Explore-item-white button:hover {
    background: #191716;
    background-color: #191716;
    color: #e6af2e;
}

.Explore-item:hover .front-text {
    transform: translateY(-200px);
}

.Explore-item:hover .back-text {
    bottom: 0;
}


@media screen and (min-width:776px) {

    .Explore-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .Explore-container .Explore-item:nth-of-type(1) {
        order: 1;
    }

    .Explore-container .Explore-item:nth-of-type(2) {
        order: 2;
    }

    .Explore-container .Explore-item:nth-of-type(3) {
        order: 4;
    }

    .Explore-container .Explore-item:nth-of-type(4) {
        order: 3;
    }


}

.meta-data {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    color: #e6af2e;
}

/*upcomingmeetup*/


#upcoming .title-text {
    color: #191716;
}

#upcoming {
    padding: 20px 0 80px 0;
    background-color: #eBe2db;
}

.upcoming-container {
    max-width: 90vw;
    margin: 0 auto;
}

.upcoming-item {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    color: #eBe2db;
    overflow: hidden;
    margin: 20px 0;
}

#upcoming img {
    width: 100%;
    min-height: 100%;
    display: block;
    transition: transform 4s;
}

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 4s;
    text-shadow: 20px 20px 20px #000;
    color: #e6af2e;
}


.img-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    font-size: 20px;
    opacity: 0;
    color: #e6af2e;
    transition: opacity 4s;
}

.img-text h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.img-text h6 {
    font-size: 15px;
}

.upcoming-item:hover img {
    opacity: 0.4s;
    transform: scale(1.3);
}

.upcoming-item:hover .img-text,
.upcoming-item:hover .img-footer {
    opacity: 1;
}


@media screen and (min-width:576px) {
    .upcoming-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1em;
    }
}

@media screen and (min-width:992px) {
    .upcoming-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1em;
    }
}



/*filter section*/


#filter-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: url(/images/background.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    padding: 60px;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px;
}

.meetupheading {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: url(images/background.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px;
}


#filter-section h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: #eBe2db;
    margin-bottom: 10px;
}

#filter-section button {
    font-size: 30px;
    text-transform: uppercase;
    color: #e6af2e;
    border: 2px solid #e6af2e;
    padding: 10px 15px;
    background: transparent;

}

#filter-section button a {
    color: #fff;
    text-decoration: none;

}


#filter-section button:hover {
    background: #e6af2e;
    color: #191716;
}

/*end of filter section*/

/*posts*/

#posts {
    background: #beb7a4;
    padding: 20px 0 80px 0;
}

.post-container {
    max-width: 90vw;
    margin: 0 auto;
}

.post-item {
    background-color: #e0e2db;
    color: #191716;
    margin: 20px 0;
}

#posts img {
    width: 100%;
    display: block;
}


.img-container {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.img-container .fa {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #e6af2e;
    transition: opacity 4s;
    opacity: 0;
}

.img-container:hover img {
    opacity: 0.4;
}

.img-container:hover .fa {
    opacity: 1;
}

.text-container {
    padding: 10px 5px 30px 5px;
}

.text-container p {
    margin: 15px 0 25px 0;
}

.text-container a {
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    border: 2px solid #e6af2e;
    color: #e6af2e;
    margin-bottom: 20px;
}

.text-container a:hover {
    background-color: #191716;
    border-color: #191716;
}



@media screen and (min-width:576px) {
    .post-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1em;
        grid-row-gap: 1em;
    }

}


@media screen and (min-width:992px) {
    .post-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1em;
        grid-row-gap: 1em;
    }

}


.comment-container {
    margin: 0 100px 0px;
    background-color: #eBe2db;
}


/*footer*/

footer {
    background-color: #191716;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.footer-text {
    text-transform: uppercase;
    font-size: 15px;
    color: #e0e2db;
    margin-bottom: 10px;
}

.footer-icons {
    font-size: 30px;
}

.footer-icons .fa {
    margin-right: 10px;
    color: #e0e2db;
    transition: transform 2s;
}

.footer-icons .fa:hover {
    color: #e6af2e;
    transform: translateY(-15px);
}


/*sign in*/
.loginbox {
    width: 320px;
    height: 420px;
    color: #fff;
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    background-color: #191716;
}

#banner-log {
    min-height: 120vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: url(images/background.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 580px) {
    .loginbox {
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        top: 50%;
        padding-right: 3px;
        width: 320px;
        height: 400px;
        color: #fff;
        top: 100%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 70px 30px;
        background-color: #191716;
    }
}


.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.loginbox h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="submit"] {
    font-family: sans-serif;
    float: left;
    width: 100%;
    border: #e6af2e solid 4px;
    cursor: pointer;
    background-color: #e6af2e;
    color: white;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
    outline: none;
    height: 40px;
    background: #e6af2e;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background-color: #fff;
    color: #e6af2e;
}

.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.loginbox a:hover {
    color: #ffc107;
}

/*signup box*/

.signupbox {
    width: 320px;
    height: 570px;
    color: #fff;
    top: 65%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    background-color: #191716;



}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.signupbox h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
}

.signupbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.signupbox input {
    width: 100%;
    margin-bottom: 20px;
}

.signupbox input[type="text"],
input[type="password"],
input[type="email"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.signupbox input[type="submit"] {
    font-family: sans-serif;
    float: left;
    width: 100%;
    border: #e6af2e solid 4px;
    cursor: pointer;
    background-color: #e6af2e;
    color: white;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
    outline: none;
    height: 40px;
    background: #e6af2e;
    font-size: 18px;
    border-radius: 20px;
}


.signupbox input[type="submit"]:hover {
    cursor: pointer;
    background-color: #fff;
    color: #e6af2e;
}

.signupbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.signupbox a:hover {
    color: #ffc107;
}



@media only screen and (max-width: 580px) {
    .signupbox {
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3px;
        width: 320px;
        height: 570px;
        color: #fff;
        top: 100%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 70px 30px;
        background-color: #191716;
    }
}

/* Admin panel */


nav ul {
    padding: 0;
    margin: 0;
}

nav li {

    list-style-type: none;
    margin: 0;
    position: relative;
    text-align: center;
    color: #B3B3B3;
}

.adminheader {
    width: 100%;
    height: 90px;;
    background-color: black;
    text-align: center;
}

.icon {
    display: inline-block;
}

.icon img {
    height: 80px;
    background-color: white;
    border-radius: 50px;
    display: block;
    ;
}

.admin-main {
    display: flex;
}

.sidebar {
    flex: 1;
    height: 650px;
    background-color: black;
}

.sidebar ul {
    list-style-type: none;
    position: relative;
    margin: 0px 0px;
}

.sidebar ul li {
    text-decoration: none;
    border-bottom: 2px solid gray;
    font-family: sans-serif;
    text-decoration: none;
    display: block;
    font-size: 0px;
    padding: 20px 0px;
    color: #e6af2e;
    cursor: pointer;
}



.sidebar ul li:hover {
    color: #fff;
    background-color: #e6af2e;
}

.sidebar ul li a {
    color: white;
}

.sidebar ul li .fa {
    font-size: 20px;
    margin: 30px;

}

.content {
    flex: 5;
    background-image: url(images/background.jpg);
    height: 530px;
    background-color: #eBe2db;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#post h2 {
    color: white;
}


.panel {
    display: none;
    background-color: #191716;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 50px;
    width: 50%;
    align-content: center;
    position: relative;
    margin-top: 30px;
    margin-left: 260px;
    border-radius: 7px;
}

@media only screen and (max-width: 580px) {
    .panel {
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}


.panel.active {
    display: block;
}



.panel #post-title {
    background-image: url(images/title-icon.png);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

.panel #post-title:focus {
    background-image: url(images/title-icon.png);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

.panel #desc {
    background-image: url(images/desc-icon.png);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

.metadata {
    text-align: center;
}

.datloc {
    display: flex;
    align-content: space-between;
}

.panel #meetup-time {
    height: 54px;
}

.panel #post-location {
    background-image: url(images/location-icon.png);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#file {
    background-image: url(images/photo-icon.png);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

.panel textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

#post-tags {
    background-image: url(images/tag-icon.png);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

.panel input:hover,
.panel textarea:hover,
.panel input:focus,
.panel textarea:focus {
    background-color: #e6e6e6;
}

.button-yellow {
    font-family: sans-serif;
    float: left;
    width: 100%;
    border: #e6af2e solid 4px;
    cursor: pointer;
    background-color: #e6af2e;
    color: white;
    font-size: 24px;
    padding-top: 22px;
    padding-bottom: 22px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

.button-yellow:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #e6af2e;
}


.ease {
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    transition: .3s ease;
}

.submit:hover .ease {
    width: 100%;
    background-color: white;
}

.panel .post-input {
    color: #3c3c3c;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
}

/*Inputs styles*/
.panel .post-input:focus,
#meetup-time:hover {
    background: #fff;
    border: 3px solid #e6af2e;
    color: #e6af2e;
    outline: none;
    padding: 13px 13px 13px 54px;
}

#meetup-time:hover {
    background-image: url(images/date-icon.png);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}


#logout {
    color: #e6af2e;
    text-decoration: none;
}

#logout .logout-link {
    color: #fff;
    text-decoration: none;
}

/*User profile*/




#main {
    margin: 2em auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.10), 0 3px 6px rgba(0, 0, 0, 0.10);
    background-color: #eBe2db;
    width: 80%;
    max-height: 100%;
    height: 100%;
    margin-left: 140px;
    display: inline-flex;
    border: 2px solid #191716;
}

.one-third {
    display: block;
    width: 33.3333%;
    height: 100%;
    float: left;
}

.one-third h3 {
    color: #e6af2e;
}

.one-third p .fa {
    color: #e6af2e;
    font-size: 20px;
    background: #000;
    padding: 15px;
    border-radius: 30px;
    animation-timing-function: ease-in-out;

}

.one-fourth {
    display: block;
    width: 25%;
    height: 100%;
    float: left;
}


.two-thirds {
    position: relative;
    display: block;
    width: 66.6667%;
    height: 100%;
    float: left;
}

#profile-image {
    position: relative;
    margin-top: 10em;
}

#profile-image img {
    background-blend-mode: luminosity;
    border-radius: 50%;
    border: 4px solid #e6af2e;
    display: block;
    position: absolute;
    margin-top: 30ps;
    top: -12em;
    left: 22%;
    height: auto;
    width: auto;
    transition: transform 4s;
}

#profile-image img:hover {
    -ms-zoom-animation: default;
}

.center {
    margin: auto;
    text-align: center;
}

#stats {
    margin: 20px 4px;

}

#main p {
    margin: 3px auto !important;
}

#main .more {
    display: block;
    text-align: center;
    margin-top: 25px;
    margin: 23px 40px !important;
    color: #999;
    font-size: 11pt;
    padding-top: 1em;
    padding-bottom: 25px;
    border-bottom: 1px solid #ededed;
    border-top: px solid #ededed;
    margin-top: 4em !important;
}

.social {
    margin: 5px 0 12px 0;
    text-align: center;
    display: inline-block;
    font-size: 20pt;
}

.social i {
    cursor: pointer;
    margin: 0 15px;
}

.social i:nth-child(1) {
    color: #4267b2;
}

.social i:nth-child(2) {
    color: #1da1f2;
}

.social i:nth-child(3) {
    color: #bd081c;
}

.social i:nth-child(4) {
    color: #36465d;
}

#main .userlist {
    display: inline-flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 20px;
    list-style: none;
}

#main .userlist li:hover {
    color: #e6af2e;
    border: 1px solid #e6af2e;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.activeli {
    color: #e6af2e;
    border: 1px solid #e6af2e;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

#main .userlist li {
    margin: 40px 30px 0 10px;
    cursor: pointer;
    font-size: 12pt;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 500;
    color: #fff;
    padding: 9px 12px 9px;
    background-color: #e6af2e;

}

.follow {
    position: absolute;
    right: 8%;
    top: 31px;
    font-size: 11pt;
    background-color: #42b1fa;
    color: #fff;
    padding: 8px 15px;
    cursor: pointer;
    transition: all .4s;
    font-family: sans-serif;
    font-weight: 400;
}

.follow:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.2);
}

.userpanel {
    margin-top: 35px;
}

.userpanel div {
    float: left;
    margin-bottom: 30px;
    margin-left: 1.66%;
    margin-right: 1.66%;
}

.userpanel .third {
    width: 30%;
}


@media only screen and (max-width: 768px) {
    #main {
        margin: 2em auto;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.10), 0 3px 6px rgba(0, 0, 0, 0.10);
        background-color: white;
        width: 90%;
        max-height: 100%;
        height: 100%;
        display: block;
        top: 10%;
    }

    .one-third {
        display: block;
        width: 100%;
        height: 100%;
        float: left;
    }

    .one-fourth {
        display: block;
        width: 100%;
        height: 100%;
        float: left;
    }


    .two-thirds {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        float: left;
    }

    #profile-image {
        position: relative;
        margin-top: 10em;
    }

    #profile-image img {
        border-radius: 50%;
        display: block;
        position: absolute;
        top: -10em;

        left: 25%;
        width: 40%;
        height: auto;
        display: inline-block;
    }

    .center {
        margin: auto;
        text-align: center;
    }

    #stats h2 {
        margin-bottom: 0.2em
    }

    #main p {
        margin: 0px auto !important;
    }

    .more {
        display: block;
        text-align: center;
        margin-top: 25px;
        margin: 25px 40px !important;
        color: #999;
        font-size: 11pt;
        padding-top: 1em;
        padding-bottom: 25px;
        border-bottom: 1px solid #ededed;
        border-top: 1px solid #ededed;
        margin-top: 7em !important;
    }

    .social {
        margin: 5px 0 12px 0;
        text-align: center;
        display: inline-block;
        font-size: 20pt;
    }

    .social i {
        cursor: pointer;
        margin: 0 15px;
    }

    .social i:nth-child(1) {
        color: #4267b2;
    }

    .social i:nth-child(2) {
        color: #1da1f2;
    }

    .social i:nth-child(3) {
        color: #bd081c;
    }

    .social i:nth-child(4) {
        color: #36465d;
    }

    #main .userlist {
        display: inline-flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;

    }


    #main .userlist li {
        margin: 40px 30px 0 10px;
        cursor: pointer;
        font-size: 13pt;
        text-transform: uppercase;
        font-family: sans-serif;
        font-weight: 500;

    }

}

.paneluser.activerUserPanel {
    display: block;
}

.paneluser {
    display: none;
}
